{% extends "base.html" %}

{% block content %}

<h2>Welcome to our game of Paper, Rock, Scissors!</h2>
<p>This luck based game has gained enormous popularity all over the world. The rules are simple:</p>
<ol>
    <li>The game usually requires two players (or one player vs computer). Each player has several options to choose:</li>
        <ul>
            <li>Rock</li>
            <li>Paper</li>
            <li>Scissors</li>
        </ul>
    <li>The winner of the game is decided based on the following rules:</li>
        <ul>
            <li>Rock beats Scissors</li>
            <li>Scissors beat Paper</li>
            <li>Paper beats Rock</li>
        </ul>
    <li>If both players choose the same option, the game ends in a draw.</li>
</ol>

{% endblock %}